import { defineConfig } from 'axios';

// Add the default .env configuration for Vite
export const environment = {
    VITE_API_URL: "http://localhost:8000/api/v1",
    VITE_AWS_POOL_ID: "OLD_POOL_ID_REDACTED",
    VITE_AWS_REGION: "us-east-2",
    VITE_AWS_CLIENT_ID: "OLD_CLIENT_ID_REDACTED",
    VITE_AWS_DOMAIN: "m4u-uv.auth.us-east-2.amazoncognito.com"
}