VITE_API_URL=http://localhost:8000/api/v1
VITE_ADP_ENABLED=false
VITE_AWS_POOL_ID=us-east-2_XXXXXXXXX
VITE_AWS_REGION=us-east-2
VITE_AWS_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_AWS_DOMAIN=your-auth-domain.auth.us-east-2.amazoncognito.com
